

@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <form id="drink,side,entree">

        <div id="search">
            <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
            <input type="submit" value="Search">
        </div>
        <div id="filters">
            @foreach (String item in MenuDatabase.Types)
            {
                <label>
                    <input type="checkbox" name="Types" value="@item" checked="@Model.Types.Contains(item)" onclick="@Model.PersistCheckbox(@item)"  />
                    @item
                </label>
            }

            <h4>Calories</h4>
            <div>
                Between
                <input name="CaloriesMin" type="number" min="0" max="1000" step="0.1" placeholder="min" value="@Model.CaloriesMin"  />
                and
                <input name="CaloriesMax" type="number" min="0" max="1000" step="0.1" placeholder="max" value="@Model.CaloriesMax" />
            </div>
            <h4>Price</h4>
            <div>
                Between
                <input name="PriceMin" type="number" min="0" max="100" step="0.01" placeholder="min" value="@Model.PriceMin" />
                and
                <input name="PriceMax" type="number" min="0" max="100" step="0.01" placeholder="max" value="@Model.PriceMax" />
            </div>
        </div>
        <div id="results">
            <h1>Results</h1>

            <ul class="menu-list">
                @foreach (BleakwindBuffet.Data.Interfaces.IOrderItem item in @Model.MenuItems)
                {
                    <li>
                        <div class="details">
                            <h3 class="title">@item.ToString()</h3>
                            
                           
                        </div>
                        <div class="priceAndcal">
                            
                                <div class="calories">
                                    <h2 font="6">Calories: @item.Calories</h2>     
                                </div>
                           
                           
                            
                                <div class="price">
                                    
                                    <h2>Price: $@item.Price</h2>
                                </div>
                            
                        </div>
                    </li>
                }
            </ul>
        </div>
    </form>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <p>Bleakwind Buffet <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <h1>
            We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim.
            Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a
            Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure
            and earned your loot, so spend it with us!
        </h1>

        <h2>
            Drinks Options:
        </h2>

        @foreach (BleakwindBuffet.Data.Interfaces.IOrderItem item in Model.MenuItems)
        {
            @if (item is BleakwindBuffet.Data.Drink_Classes.Drink)
            {
                <ul class="drink-list">
                    <li>



                        <div class="drink">

                            @item

                            <h2>Price: $@item.Price</h2>
                            <h2>Calories: @item.Calories </h2>

                        </div>




                    </li>
                </ul>
            }
        }



        <h2>
            Sides Options:
        </h2>

        @foreach (BleakwindBuffet.Data.Interfaces.IOrderItem item in Model.MenuItems)
        {
            @if (item is BleakwindBuffet.Data.Side_Classes.Side)
            {
                <ul class="side-list">
                    <li>



                        <div class="side">

                            @item

                            <h2>Price: $@item.Price</h2>
                            <h2>Calories: @item.Calories </h2>

                        </div>




                    </li>
                </ul>
            }
        }

        <h2>
            Entree Options:
        </h2>

        @foreach (BleakwindBuffet.Data.Interfaces.IOrderItem item in Model.MenuItems)
        {
            @if (item is BleakwindBuffet.Data.Entrée_classes.Entree)
            {
                <ul class="entree-list">
                    <li>



                        <div class="entree">

                            @item

                            <h2>Price: $@item.Price</h2>
                            <h2>Calories: @item.Calories </h2>

                        </div>




                    </li>
                </ul>
            }
        }



        <h2>List of Sailor Soda Flavors:</h2>
        <ul>



            <li>Peach</li>
            <li>Lemon</li>
            <li>Watermelon</li>
            <li>Grapefruit</li>
            <li>Cherry</li>
            <li>Watermelon</li>



        </ul>
        <!--paragraph tag display combo-->
        <p>You can create a Combo with the choice of any Entree, Side, and Drink with a discount of $1!</p>
    </div>
